html {
	font-family: sans-serif;
}

body {
	padding: 10px;
}

canvas {
	border: 1px solid black;
}

.center {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}